body {
    background-color: #4912f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
}

input, button {
    background-color: #ea9e3d;
    color: white;
    border-radius: 30px;
    border: 0px;
    padding: 15px;
    font-size: 14pt;
    background-image: linear-gradient(to right, #ea9e3d , #ee7b38);
}

.head-section {
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.head-section-1 {
    flex-grow: 30;
    
}

.head-section-2 {
    flex-grow: 12;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    align-self: center;
    color: white;

}

.head-section-3 {
    flex-grow: 12;
    justify-content: start;
    align-self: center;
    
}

.middle-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.middle-section-left {
    flex-grow: 1;
    max-width: 50%;
}

.middle-section-right {
    /* width: 545px; 
    height: 500px; */
    flex-grow: 2;
    align-self: stretch;
    flex-shrink: 1
}

#image-middle-section-right {
    
    height: 350px;
  }

.transition-to-science {
    text-align: center;
    font-weight: bold;
    margin:130px;

}

.science-section {
    display: grid;
    /* column-gap: 10px;
    row-gap: 10px; */
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* .science-image-1 {
    grid-row: 1;
}

.science-image-2 {
    grid-row: 1;

}

.science-text-1 {
    grid-row: 1;
}

.science-text-2 {
    grid-row: 1;
} */

#uppercase {
    text-transform: uppercase;
    font-size: 7pt;
}