body {
    background-color: #4912f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
}

input, button {
    background-color: #ea9e3d;
    color: white;
    border-radius: 30px;
    border: 0px;
    padding: 15px;
    font-size: 14pt;
    background-image: linear-gradient(to right, #ea9e3d , #ee7b38);
}

.head-section {
     margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.head-section-1 {
    flex-grow: 30;
}

.head-section-2 {
    flex-grow: 12;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    align-self: center;
    color: white;
}

.head-section-3 {
    flex-grow: 12;
    justify-content: start;
    align-self: center;    
}

.middle-section {
    margin-top: 210px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.middle-section-left {
    flex-grow: 1;
    max-width: 50%;
    font-weight: bold;
    color: darkgray;
}

.middle-section-right {
    flex-grow: 2;
    align-self: stretch;
    flex-shrink: 1
}

#image-middle-section-right {    
    height: 350px;
  }

.transition-to-science {
    text-align: center;
    font-weight: bold;
    margin:130px;
}

.science-section {
    margin-right: 150px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    font-weight: bold;
    font-size: 10pt;
}

.white-headline {
    color: white;
}

#uppercase {
    text-transform: uppercase;
    font-size: 7pt;
}